.font1 {
	color: #0C3EC4;
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
}

.fontLabel {
	font-size: 26px;
	font-style: oblique;
	font-weight: bold;
	color: white;
}

.topPanel {
	padding: 80px 0px 0px 10px;
	float: left;
	width: 100%;
	height: 150px;
}

.narrowTopPanel {
	padding: 80px 0px 0px 10px;
	float: left;
	width: 100%;
	height: 110px;
}

.narrowTopPanel2 {
	padding: 80px 0px 0px 10px;
	float: left;
	width: 100%;
	height: 90px;
}

.narrowTopPanelContains {
	text-align: left;
	padding: 0px 35px;
}

.bottomPanel {
	padding: 0px 15px 0px 10px;
	float: left;
	width: 100%;
}

.leftPanel {
	padding: 80px 0px 0px 10px;
	float: left;
	width: 500px;
	height: 250px;
}

.leftPanelContains {
	color: black;
	text-align: left;
	padding: 0px 10px;
}

.rightPanel {
	padding: 80px 0px 0px 0px;
	float: right;
	width: 600px;
	height: 250px;
}

.rightPanelContains {
	color: black;
	text-align: left;
	padding: 0px 30px;
}

.bottomPanelContains {
	color: white;
	text-align: left;
	padding: 0px 20px;
}

.centerText {
	padding: 50px 0px 0px 0px;
	top: 100px;
	width: 100% height: 200px;
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
	color: white;
	font-size: 26px;
}

.labelText {
	color: white;
	font-size: 20px;
	padding: 40px 0px 0px 0px;
}

.simpleText {
	color: white;
	font-size: 20px;
}

.blueText {
	color: #D8DEE4;
	font-size: 20px;
	font-weight: bold;
}

.boldText {
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.centerContainer {
	width: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	vertical-align: middle;
}

.insideContainer {
	width: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	vertical-align: middle;
}

.errorMsg {
	color: pink;
	font-size: 18px;
	font-weight: bold;
}

.successMsg {
	color: #D8DEE4;
	font-weight: bold;
	font-size: 20px;	
}

.borderButton {
	background-color: #7A94A6;
	color: #333;
	border: 2px solid #D8DEE4;
}

.stListLi {
	list-style-type: none;
	float: left;
	padding: 13px 25px;
	display: block;
	border-right: 1px solid #D8DEE4;
	border-left: 1px solid #D8DEE4;
	border-top: 1px solid #D8DEE4; 
	border-bottom : 1px solid #D8DEE4;
	color: white;
	background-color: #728392;
}

.ui-datatable-odd {
    background: #b2bec7 !important;
}

.ui-datatable-even {
    background: #dee3e7 !important;
}

td.centeredColumnContent {
    text-align: center;
}