.ulTop {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333940;
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #bbb;
}

.liTop {
	float: left;
	border-right: 1px solid #bbb;
}

li:last-child {
	border-right: none;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px 35px;
	text-decoration: none;
}

li a:hover {
	background-color: #728392;
}

.loginPanel {
	padding: 16px 20px;
}

.firstPanel {
	padding: 11px 45px 11px 15px;
	font-size: 25px;
	font-style: oblique;
	font-weight: bold;
	color: white;
}

.active {
	background-color: #728392;
	border-bottom: none;
}

.loginActive {
	border-bottom: none;
	float: right;
}

.noBorderRight {
	border-right: none;
}

.logoutStyle {
	display: block;
	color: white;
	text-align: center;
	padding: 16px 25px;
	text-decoration: none;
}

.logoutButton {
	background-color: #333940;
	color: white;
	border: none;
}