<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fc="http://java.sun.com/jsf/facelets"
	xmlns:ui="http://primefaces.org/ui">
<h:head>
	<title>Station information</title>
	<h:outputStylesheet name="css/main.css" />
	<h:outputStylesheet name="css/topPanelClasses.css" />
	<style>
li:hover {
	background-color: #333940;
}
</style>
</h:head>
<h:body style="background-color:#728392">

	<ul class="ulTop">
		<li style="border-right: none" class="liTop"><h:graphicImage
				value="resources/images/train_icon.png" /></li>
		<li class="liTop"><a class="firstPanel"
			href="adminStartPage.xhtml">Qwerty Railways</a></li>
		<li class="liTop"><a class="liATop" href="adminInfoBoard.xhtml">Departures
				&amp; arrivals</a></li>
		<li style="border-bottom: none" class="liTop"><a
			class="liATop active" href="addStation.xhtml">Add stations</a></li>
		<li class="liTop"><a class="liATop" href="addTrain.xhtml">Add
				trains</a></li>
		<li class="liTop"><a class="liATop" href="searchPassengers.xhtml">Passengers</a></li>
		<li class="liTop"><a class="liATop" href="viewTrains.xhtml">Train
				list</a></li>
		<li style="float: right" class="liTop"><form class="logoutStyle"
				action="${request.contextPath}/appLogout" method="post">
				<input type="submit" class="logoutButton" value="Logout" /> <input
					type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			</form></li>
	</ul>

	<div class="narrowTopPanel2">
		<div class="narrowTopPanelContains">

			<h:outputLabel rendered="#{addStationBean.flag}" class="successMsg"> 
	The station was successfully added.
	</h:outputLabel>
			<h:form>
				<h:panelGrid columns="3" columnClasses="leftAlign">
					<h:outputText class="simpleText" value="Station name:">
					</h:outputText>
					<ui:inputText id="stName" value="#{addStationBean.stName}"
						required="false"
						validatorMessage="Station name must contain from 2 to 40 symbols">
						<f:validateLength minimum="2" maximum="40">
						</f:validateLength>
					</ui:inputText>
					<ui:commandButton class="borderButton" process="@this" ajax="false"
						actionListener="#{addStationBean.saveStation}" value="Save">
					</ui:commandButton>
				</h:panelGrid>
			</h:form>
			<h:outputLabel rendered="#{not empty addStationBean.error}"
				class="errorMsg"> 
	#{addStationBean.error}
	</h:outputLabel>
			<h:messages class="errorMsg"></h:messages>
		</div>
	</div>

	<div class="bottomPanel">
		<ul>
			<fc:repeat value="#{addStationBean.stations}" var="station">
				<li class="stListLi"><h:outputText
						value="#{station.stationName}" /></li>
			</fc:repeat>
		</ul>
	</div>
</h:body>
</html>
