<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:a="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://primefaces.org/ui">
<h:head>
	<title>Adding a new train</title>
	<h:outputStylesheet name="css/topPanel.css" />
	<h:outputStylesheet name="css/main.css" />
</h:head>
<h:body style="background-color:#728392">

	<ul class="ulTop">
		<li style="border-right: none" class="liTop"><h:graphicImage
				value="resources/images/train_icon.png" /></li>
		<li class="liTop"><a class="firstPanel" href="adminStartPage.xhtml">Qwerty
				Railways</a></li>
		<li class="liTop"><a href="adminInfoBoard.xhtml">Departures &amp;
				arrivals</a></li>
		<li class="liTop"><a href="addStation.xhtml">Add stations</a></li>
		<li class="liTop"><a class="active" href="addTrain.xhtml">Add
				trains</a></li>
		<li class="liTop"><a href="searchPassengers.xhtml">Passengers</a></li>
		<li class="liTop"><a href="viewTrains.xhtml">Train list</a></li>
		<li style="float: right" class="liTop"><form class="logoutStyle"
				action="${request.contextPath}/appLogout" method="post">
				<input type="submit" class="logoutButton" value="Logout" /> <input
					type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			</form></li>
	</ul>

	<div class="topPanel">
		<div class="leftPanelContains">
			<h:outputLabel rendered="#{!addTrainBean.flag}" class="boldText"> Please add new train's data </h:outputLabel>
			<h:form rendered="#{addTrainBean.flag}">
				<h:outputLabel class="successMsg"> 
	Train data was successfully added. <br />
				</h:outputLabel>
				<p></p>
				<ui:commandButton class="borderButton" process="@this" ajax="false"
					actionListener="#{addTrainBean.refreshPage}"
					value="Add another train">
				</ui:commandButton>
			</h:form>

			<p></p>
			<h:outputLabel rendered="#{not empty addTrainBean.error}"
				class="errorMsg"> #{addTrainBean.error} </h:outputLabel>
			<h:messages class="errorMsg"></h:messages>
			<p></p>

			<h:outputLabel rendered="#{not empty addTrainBean.departureDate}"
				class="simpleText"> 
	Current: train &#35; #{addTrainBean.trainNumber}, departing on <h:outputText
					value="#{addTrainBean.departureDate}">
					<f:convertDateTime type="date" timeZone="Europe/Moscow"
						pattern="dd:MM:yyyy" />
				</h:outputText>
			</h:outputLabel>

			<p></p>
			<h:form rendered="#{empty addTrainBean.departureDate}">
				<h:outputLabel class="blueText" value="Departure information"></h:outputLabel>
				<p></p>
				<h:panelGrid columns="2" columnClasses="leftAlign,RightAlign">
					<h:outputText class="simpleText" value="Train number:">
					</h:outputText>
					<ui:inputText id="routeNum" value="#{addTrainBean.trainNumber}"
						required="false" placeholder="fill in the train number"
						validatorMessage="Train number must contain from 1 to 5 symbols">
						<f:validateLength minimum="1" maximum="5">
						</f:validateLength>
					</ui:inputText>

					<h:outputText class="simpleText" value="Train capacity:">
					</h:outputText>

					<ui:inputText id="capacity" value="#{addTrainBean.capacity}"
						required="false" placeholder="fill in number of tickets"
						validatorMessage="Train capacity must be a number between 100 and 9999">
						<f:validateLength minimum="3" maximum="4">
						</f:validateLength>
					</ui:inputText>

					<h:outputText class="simpleText" value="Time of departure:">
					</h:outputText>

					<ui:inputText id="depTime" label="Time of departure"
						value="#{addTrainBean.departureTime}" required="false"
						placeholder="dd.MM.yyyy HH:mm">
						<f:convertDateTime type="both" timeZone="Europe/Moscow"
							pattern="dd.MM.yyyy HH:mm" />
						<f:validateRequired />
					</ui:inputText>

					<h:outputText class="simpleText" value="Departure station:">
					</h:outputText>

					<ui:autoComplete id="depStation"
						value="#{addTrainBean.departureStation}"
						completeMethod="#{addTrainBean.displayStations}"
						forceSelection="true" size="20" scrollHeight="200" dropDown="true"
						minQueryLength="3"
						validatorMessage="Station name should be chosen from a dropdown">
						<f:validateRequired />
					</ui:autoComplete>

					<ui:commandButton process="@this" ajax="false"
						actionListener="#{addTrainBean.saveTrain}" class="borderButton"
						value="Save">
					</ui:commandButton>
				</h:panelGrid>
			</h:form>


			<h:form rendered="#{not empty addTrainBean.departureDate and !addTrainBean.flag}">
				<h:outputLabel class="blueText"> Next stop data:</h:outputLabel>
				<p></p>
				<h:panelGrid columns="2" columnClasses="leftAlign,RightAlign">

					<h:outputText class="simpleText" value="Station name:">
					</h:outputText>

					<ui:autoComplete id="depStation"
						value="#{addTrainBean.departureStation}"
						completeMethod="#{addTrainBean.displayStations}" size="20"
						forceSelection="true" scrollHeight="200" dropDown="true"
						minQueryLength="3"
						validatorMessage="Station name should be chosen from a dropdown">
						<f:validateRequired />
					</ui:autoComplete>

					<h:outputText class="simpleText" value="Time of arrival:">
					</h:outputText>

					<ui:inputText id="arrTime" label="Time of arrival"
						value="#{addTrainBean.arrivalTime}" required="false"
						placeholder="dd.MM.yyyy HH:mm">
						<f:convertDateTime type="both" timeZone="Europe/Moscow"
							pattern="dd.MM.yyyy HH:mm" />
						<f:validateRequired />
					</ui:inputText>

					<h:outputText class="simpleText" value="Time of departure:">
					</h:outputText>

					<ui:inputText placeholder="dd.MM.yyyy HH:mm" id="depTime"
						label="Time of departure" value="#{addTrainBean.departureTime}"
						required="false">
						<f:convertDateTime type="both" timeZone="Europe/Moscow"
							pattern="dd.MM.yyyy HH:mm" />
					</ui:inputText>

					<ui:commandButton class="borderButton" process="@this" ajax="false"
						actionListener="#{addTrainBean.saveAndExit}"
						value="Save data and finish">
					</ui:commandButton>
					<ui:commandButton class="borderButton" process="@this" ajax="false"
						actionListener="#{addTrainBean.saveTrainStop}"
						value="Move to the next station">
					</ui:commandButton>
				</h:panelGrid>
			</h:form>
		</div>
	</div>
</h:body>
</html>