<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://primefaces.org/ui">
<h:head>
	<title>Information board</title>
	<h:outputStylesheet name="css/main.css" />
	<h:outputStylesheet name="css/topPanel.css" />
		<style>
	th {
  background-color: #728392 !important;
}
</style>
</h:head>
<h:body style="background-color:#728392">
	<ul class="ulTop">
		<li style="border-right: none" class="liTop"><h:graphicImage
				value="resources/images/train_icon.png" /></li>
		<li class="liTop"><a class="firstPanel"
			href="startPage.xhtml">Qwerty Railways</a></li>
		<li class="liTop"><a class="active" href="infoBoard.xhtml">Departures
				&amp; arrivals</a></li>
		<li class="liTop"><a href="searchTrains.xhtml">Buy tickets</a></li>
		<li style="float: right" class="liTop"><a class="loginPanel"
			href="loginPage.xhtml">Login</a></li>
	</ul>

	<div class="topPanel">
		<div class="leftPanelContains">
			<h:outputLabel class="boldText">
				Choose a station and date to see a list of incoming and
		outgoing trains</h:outputLabel>
			<p></p>
			<h:messages class="errorMsg"></h:messages>
			<h:outputText value="#{infoBoardBean.error}"
				rendered="#{not empty infoBoardBean.error}" class="errorMsg" />
			<p></p>	
			<h:form>
				<h:panelGrid columns="5" columnClasses="leftAlign,RightAlign">

					<h:outputText class="simpleText" value="Station">
					</h:outputText>

					<ui:autoComplete id="stName" value="#{infoBoardBean.stationName}"
						completeMethod="#{infoBoardBean.displayStations}"
						forceSelection="true" size="20" scrollHeight="200" dropDown="true"
						minQueryLength="3"
						validatorMessage="Station name should be chosen from a dropdown">
						<f:validateRequired />
					</ui:autoComplete>
					
					<h:outputText class="simpleText" value="Date">
					</h:outputText>

					<ui:inputText id="date" value="#{infoBoardBean.date}"
						placeholder="dd.mm.yyyy" label="Time of departure"
						required="false">
						<f:convertDateTime type="date" timeZone="Europe/Moscow"
							pattern="dd.MM.yyyy" />
						<f:validateRequired />
					</ui:inputText>

					<ui:commandButton class="borderButton" process="@this" ajax="false"
						actionListener="#{infoBoardBean.viewStationTimetable}"
						value="Find">
					</ui:commandButton>
				</h:panelGrid>
			</h:form>
		</div>
	</div>

	<div class="bottomPanel">
		<div class="leftPanelContains">
			<ui:dataTable value="#{infoBoardBean.trainList}"
				rendered="#{not empty infoBoardBean.trainList}" var="train">
				<ui:column>
					<f:facet name="header">
						<h:outputText value="Train Number" />
					</f:facet>
					<h:outputText value="#{train.routeNum}" />
				</ui:column>
				<ui:column>
					<f:facet name="header">
						<h:outputText value="Coming from" />
					</f:facet>
					<h:outputText value="#{train.departureStationName}" />
				</ui:column>
				<ui:column>
					<f:facet name="header">
						<h:outputText value="Direction" />
					</f:facet>
					<h:outputText value="#{train.arrivalStationName}" />
				</ui:column>
				<ui:column>
					<f:facet name="header">
						<h:outputText value="Arrival Time" />
					</f:facet>
					<h:outputText value="#{train.arrivalTime}" />
				</ui:column>
				<ui:column>
					<f:facet name="header">
						<h:outputText value="Departure Time" />
					</f:facet>
					<h:outputText value="#{train.departureTime}" />
				</ui:column>
			</ui:dataTable>
		</div>
	</div>
</h:body>
</html>