<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:a="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://primefaces.org/ui">
<h:head>
	<title>Login page</title>
	<h:outputStylesheet name="css/topPanel.css" />
	<h:outputStylesheet name="css/main.css" />
</h:head>
<h:body style="background-color:#728392">

	<ul class="ulTop">
		<li style="border-right: none" class="liTop"><h:graphicImage
				value="resources/images/train_icon.png" /></li>
		<li class="liTop"><a class="firstPanel"
			href="startPage.xhtml">Qwerty Railways</a></li>
		<li class="liTop"><a href="infoBoard.xhtml">Departures &amp;
				arrivals</a></li>
		<li class="liTop"><a href="searchTrains.xhtml">Buy tickets</a></li>
		<li class="liTop loginActive"><a class="loginPanel active"
			href="loginPage.xhtml">Login</a></li>
	</ul>

	<div class="centerContainer">
		<h:outputLabel style="vertical-align: middle" class="boldText">
			If you are a member of Qwerty team,<br/> please login
			</h:outputLabel>

		<font color="#030364"> <h:outputLabel value="${SPRING_SECURITY_LAST_EXCEPTION.message}" />
		</font>
		<p></p>

		<form style="vertical-align: middle"
			action="${request.contextPath}/appLogin" method="post">
			<table>
				<tr>
					<td><h:outputLabel class="labelText" value="Username:" />
					</td>
					<td><input type="text" name="app_username" /></td>
				</tr>
				<tr>
					<td><h:outputLabel class="labelText" value="Password:" />
					</td>
					<td><input type="password" name="app_password" /></td>
				</tr>
				<tr> 
				<td></td>
				<td></td>
				</tr>
				<tr>
					<td><input type="submit" value="Login" />
						<input type="hidden" name="${_csrf.parameterName}"
						value="${_csrf.token}" /></td>
					<td></td>
				</tr>
			</table>
		</form>
	</div>

</h:body>
</html>