<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://primefaces.org/ui">
<h:head>
	<title>Buying tickets</title>
	<h:outputStylesheet name="css/main.css" />
	<h:outputStylesheet name="css/topPanel.css" />
	<style>
th {
	background-color: #728392 !important;
}
</style>
</h:head>
<h:body style="background-color:#728392">
	<ul class="ulTop">
		<li style="border-right: none" class="liTop"><h:graphicImage
				value="resources/images/train_icon.png" /></li>
		<li class="liTop"><a class="firstPanel" href="startPage.xhtml">Qwerty
				Railways</a></li>
		<li class="liTop"><a href="infoBoard.xhtml">Departures &amp;
				arrivals</a></li>
		<li class="liTop"><a class="active" href="searchTrains.xhtml">Buy
				tickets</a></li>
		<li style="float: right" class="liTop"><a class="loginPanel"
			href="loginPage.xhtml">Login</a></li>
	</ul>
	<div class="leftPanel">
		<div class="leftPanelContains">
			<h:form rendered="#{clientBean.flag}">
				<h:outputLabel class="successMsg"> 
	#{clientBean.name}, you successfully purchased a ticket.
	</h:outputLabel>
				<p></p>
				<h:outputLabel class="simpleText">
	Your travel data: <br />
	train &#35;#{clientBean.selectedTrain.routeNum}, <br />
	departure station: #{clientBean.selectedTrain.departureStation}, <br />
	arrival station: #{clientBean.selectedTrain.arrivalStation}, <br />
	departure time: #{clientBean.selectedTrain.departureTime}
	</h:outputLabel>
				<p></p>
				<ui:commandButton class="borderButton" process="@this" ajax="false"
					actionListener="#{clientBean.refreshPage}"
					value="Search for another train">
				</ui:commandButton>
			</h:form>

			<h:outputLabel rendered="#{!clientBean.flag}" class="boldText"
				value="Where are you going?"></h:outputLabel>
			<p></p>
			<h:form rendered="#{!clientBean.flag}">
				<h:panelGrid columns="2" columnClasses="leftAlign,RightAlign">
					<h:outputText class="simpleText" value="Departure Station:">
					</h:outputText>
					<ui:autoComplete value="#{clientBean.departureStation}"
						completeMethod="#{clientBean.displayStations}" size="20"
						scrollHeight="200" dropDown="true" minQueryLength="3"
						forceSelection="true"
						validatorMessage="Station name should be chosen from a dropdown">
						<f:validateRequired />
					</ui:autoComplete>

					<h:outputText class="simpleText" value="Arrival Station:">
					</h:outputText>
					<ui:autoComplete value="#{clientBean.arrivalStation}"
						completeMethod="#{clientBean.displayStations}" size="20"
						scrollHeight="200" dropDown="true" minQueryLength="3"
						forceSelection="true"
						validatorMessage="Station name should be chosen from a dropdown">
						<f:validateRequired />
					</ui:autoComplete>

					<h:outputText class="simpleText" value="Departure date:">
					</h:outputText>

					<ui:inputText id="travelDate" label="Departure date"
						value="#{clientBean.travelDate}" required="false"
						placeholder="dd.MM.yyyy">
						<f:convertDateTime type="date" timeZone="Europe/Moscow"
							pattern="dd.MM.yyyy" />
						<f:validateRequired />
					</ui:inputText>
					<ui:commandButton class="borderButton" process="@this" ajax="false"
						actionListener="#{clientBean.searchTrains}" value="Find">
					</ui:commandButton>
				</h:panelGrid>
			</h:form>
		</div>
	</div>

	<div class="rightPanel">
		<div class="rightPanelContains">
			<h:form
				rendered="#{not empty clientBean.selectedTrain.routeNum and !clientBean.flag}">
				<h:outputLabel class="boldText"
					value="Enter your personal data to purchase a ticket" />
				<p></p>
				<h:panelGrid columns="2" columnClasses="leftAlign,RightAlign">
					<h:outputText class="simpleText" value="Your name:">
					</h:outputText>
					<ui:inputText id="name" value="#{clientBean.name}" required="false"
						validatorMessage="Name must comtain from 2 to 40 symbols">
						<f:validateLength minimum="2" maximum="40">
						</f:validateLength>
					</ui:inputText>

					<h:outputText class="simpleText" value="Your surname:">
					</h:outputText>
					<ui:inputText id="surname" value="#{clientBean.surname}"
						required="false"
						validatorMessage="Surname must comtain from 2 to 40 symbols">
						<f:validateLength minimum="2" maximum="40">
						</f:validateLength>
					</ui:inputText>

					<h:outputText class="simpleText" value="Your date of birth:">
					</h:outputText>

					<ui:inputText id="dateOfBirth" value="#{clientBean.dateOfBirth}"
						required="false" placeholder="dd.MM.yyyy" label="Date of birth">
						<f:convertDateTime type="date" timeZone="Europe/Moscow"
							pattern="dd.MM.yyyy" />
						<f:validateRequired />
					</ui:inputText>
					<ui:commandButton class="borderButton" process="@this" ajax="false"
						actionListener="#{clientBean.buyTicket}" value="Buy a ticket">
					</ui:commandButton>
				</h:panelGrid>
			</h:form>
			<p></p>
			<h:messages class="errorMsg"></h:messages>
			<h:outputLabel class="errorMsg"
				rendered="#{not empty clientBean.error}"> 
	#{clientBean.error}
	</h:outputLabel>
		</div>
	</div>

	<div class="bottomPanel">
		<div class="bottomPanelontains">
			<h:outputLabel
				rendered="#{not empty clientBean.travelDate and !clientBean.flag and empty clientBean.error}"
				class="boldText" value="Search results"></h:outputLabel>
			<p></p>
			<h:form style="padding: 0px 15px 0px 8px"
				rendered="#{not empty clientBean.travelDate and !clientBean.flag and empty clientBean.error}">
				<ui:dataTable var="train" value="#{clientBean.trainList}"
					rowKey="#{train.routeNum}" selection="#{clientBean.selectedTrain}">

					<ui:column selectionMode="single" width="25" />
					<ui:column>
						<f:facet name="header">
							<h:outputText value="Train Number" />
						</f:facet>
						<h:outputText value="#{train.routeNum}" />
					</ui:column>
					<ui:column>
						<f:facet name="header">
							<h:outputText value="Departure Station" />
						</f:facet>
						<h:outputText value="#{train.departureStation}" />
					</ui:column>
					<ui:column>
						<f:facet name="header">Arrival Station</f:facet>
						<h:outputText value="#{train.arrivalStation}" />
					</ui:column>
					<ui:column>
						<f:facet name="header">Departure Time</f:facet>
						<h:outputText value="#{train.departureTime}">
						</h:outputText>
					</ui:column>
					<ui:column>
						<f:facet name="header">Arrival Time</f:facet>
						<h:outputText value="#{train.arrivalTime}">
						</h:outputText>
					</ui:column>
					<ui:column>
						<f:facet name="header">Number of tickets available</f:facet>
						<h:outputText value="#{train.numberOfTickets}">
						</h:outputText>
					</ui:column>
				</ui:dataTable>
				<h:panelGroup></h:panelGroup>
				<ui:commandButton class="borderButton" process="@this" ajax="false"
					actionListener="#{clientBean.saveSelectedTrain}"
					value="Select train">
				</ui:commandButton>
			</h:form>
		</div>
	</div>
</h:body>
</html>