<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://primefaces.org/ui">
<h:head>
	<title>Passenger information</title>
	<h:outputStylesheet name="css/main.css" />
	<h:outputStylesheet name="css/topPanel.css" />
		<style>
	th {
  background-color: #728392 !important;
}
</style>
</h:head>
<h:body style="background-color:#728392">
	<ul class="ulTop">
		<li style="border-right: none" class="liTop"><h:graphicImage
				value="resources/images/train_icon.png" /></li>
		<li class="liTop"><a class="firstPanel"
			href="adminStartPage.xhtml">Qwerty Railways</a></li>
		<li class="liTop"><a href="adminInfoBoard.xhtml">Departures
				&amp; arrivals</a></li>
		<li class="liTop"><a class="liATop" href="addStation.xhtml">Add
				stations</a></li>
		<li class="liTop"><a class="liATop" href="addTrain.xhtml">Add
				trains</a></li>
		<li class="liTop"><a class="liATop active" href="searchPassengers.xhtml">Passengers</a></li>
		<li class="liTop"><a class="liATop"
			href="viewTrains.xhtml">Train list</a></li>
		<li style="float: right" class="liTop"><form class="logoutStyle"
				action="${request.contextPath}/appLogout" method="post">
				<input type="submit" class="logoutButton" value="Logout" /> <input
					type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			</form></li>
	</ul>

	<div class="topPanel">
		<div class="leftPanelContains">
			<h:outputLabel class="boldText">
				Choose a train number and a train departure date to see a list of passengers</h:outputLabel>
			<p></p>
			<h:messages class="errorMsg"></h:messages>
			<h:outputText value="#{passengerSearchBean.error}" class="errorMsg"
				rendered="#{not empty passengerSearchBean.error}" />
			<p></p>
			<h:form>
				<h:panelGrid columns="5" columnClasses="leftAlign,RightAlign">
					<h:outputText class="simpleText" value="Train number">
					</h:outputText>
					<ui:inputText id="routeNum"
						value="#{passengerSearchBean.trainNumber}" required="false"
						validatorMessage="Train number must contain from 1 to 5 symbols">
						<f:validateLength minimum="1" maximum="5">
						</f:validateLength>
					</ui:inputText>
					<h:outputText class="simpleText" value="Departure date">
					</h:outputText>
					<ui:inputText id="depDate"
						value="#{passengerSearchBean.departureDate}"
						placeholder="dd.mm.yyyy" label="Departure date" required="false">
						<f:convertDateTime type="date" timeZone="Europe/Moscow"
							pattern="dd.MM.yyyy" />
						<f:validateRequired />
					</ui:inputText>
					<ui:commandButton class="borderButton" process="@this" ajax="false"
						actionListener="#{passengerSearchBean.getTrainPassengers}"
						value="Find">
					</ui:commandButton>
				</h:panelGrid>
			</h:form>
		</div>
	</div>

	<div class="bottomPanel">
		<div class="leftPanelContains">
			<ui:dataTable value="#{passengerSearchBean.passengerList}"
				rendered="#{not empty passengerSearchBean.passengerList}"
				var="passenger">
				<ui:column styleClass="centeredColumnContent">
					<f:facet name="header">Name</f:facet>
   				#{passenger.name}
    			</ui:column>
				<ui:column styleClass="centeredColumnContent">
					<f:facet name="header">Surname</f:facet>
   				#{passenger.surname}
    			</ui:column>
				<ui:column styleClass="centeredColumnContent">
					<f:facet name="header">Date of birth</f:facet>
   				#{passenger.dateOfBirth}
    			</ui:column>
			</ui:dataTable>
		</div>
	</div>
</h:body>
</html>