<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:a="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://primefaces.org/ui">
<h:head>
	<title>Start page</title>
	<h:outputStylesheet name="css/topPanel.css" />
	<h:outputStylesheet name="css/main.css" />
	<style>
th {
	background-color: #728392 !important;
}
</style>
</h:head>
<h:body style="background-color:#728392">

	<ul class="ulTop">
		<li style="border-right: none" class="liTop"><h:graphicImage
				value="resources/images/train_icon.png" /></li>
		<li class="liTop" style="border-bottom: none"><a
			class="firstPanel active" href="startPage.xhtml">Qwerty
				Railways</a></li>
		<li class="liTop"><a href="infoBoard.xhtml">Departures &amp;
				arrivals</a></li>
		<li class="liTop"><a href="searchTrains.xhtml">Buy tickets</a></li>
		<li style="float: right" class="liTop"><a class="loginPanel"
			href="loginPage.xhtml">Login</a></li>
	</ul>

	<div class="centerText">Welcome to Qwerty railways!</div>

	<h:form>
		<h:messages class="errorMsg"></h:messages>
		<h:panelGrid columns="3" columnClasses="leftAlign,rightAlign,right"
			style="margin:auto">

			<h:outputText styleClass="labelText" value="Station">
			</h:outputText>

			<ui:autoComplete id="stName" value="#{liveBoardBean.stationName}"
				completeMethod="#{liveBoardBean.displayStations}"
				forceSelection="true" size="20" scrollHeight="200" dropDown="true"
				minQueryLength="3"
				validatorMessage="Station name should be chosen from a dropdown">
				<f:validateRequired />
			</ui:autoComplete>

			<ui:commandButton class="borderButton" process="@this" ajax="false"
				actionListener="#{liveBoardBean.viewLiveTimetable}" value="Refresh">
			</ui:commandButton>
		</h:panelGrid>
	</h:form>

	<p></p>

	<ui:dataTable value="#{liveBoardBean.liveTimetable}" var="train">
		<ui:column styleClass="centeredColumnContent">
			<f:facet name="header">
				<h:outputText value="Train Number" />
			</f:facet>
			<h:outputText value="#{train.routeNum}" />
		</ui:column>
		<ui:column styleClass="centeredColumnContent">
			<f:facet name="header">
				<h:outputText value="Coming from" />
			</f:facet>
			<h:outputText value="#{train.departureStationName}" />
		</ui:column>
		<ui:column styleClass="centeredColumnContent">
			<f:facet name="header">
				<h:outputText value="Direction" />
			</f:facet>
			<h:outputText value="#{train.arrivalStationName}" />
		</ui:column>
		<ui:column styleClass="centeredColumnContent">
			<f:facet name="header">
				<h:outputText value="Arrival Time" />
			</f:facet>
			<h:outputText value="#{train.arrivalTime}" />
		</ui:column>
		<ui:column styleClass="centeredColumnContent">
			<f:facet name="header">
				<h:outputText value="Departure Time" />
			</f:facet>
			<h:outputText value="#{train.departureTime}" />
		</ui:column>
	</ui:dataTable>

</h:body>
</html>