<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://primefaces.org/ui">
<h:head>
	<title>Train information</title>
	<h:outputStylesheet name="css/main.css" />
	<h:outputStylesheet name="css/topPanel.css" />
	<style>
th {
	background-color: #728392 !important;
}
</style>
</h:head>

<h:body style="background-color:#728392">
	<ul class="ulTop">
		<li style="border-right: none" class="liTop"><h:graphicImage
				value="resources/images/train_icon.png" /></li>
		<li class="liTop"><a class="firstPanel"
			href="adminStartPage.xhtml">Qwerty Railways</a></li>
		<li class="liTop"><a href="adminInfoBoard.xhtml">Departures
				&amp; arrivals</a></li>
		<li class="liTop"><a class="liATop" href="addStation.xhtml">Add
				stations</a></li>
		<li class="liTop"><a class="liATop" href="addTrain.xhtml">Add
				trains</a></li>
		<li class="liTop"><a class="liATop" href="searchPassengers.xhtml">Passengers</a></li>
		<li class="liTop"><a class="liATop active"
			href="viewTrains.xhtml">Train list</a></li>
		<li style="float: right" class="liTop"><form class="logoutStyle"
				action="${request.contextPath}/appLogout" method="post">
				<input type="submit" class="logoutButton" value="Logout" /> <input
					type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			</form></li>
	</ul>

	<div class="narrowTopPanel2">
		<div class="leftPanelContains">
			<h:messages class="errorMsg"></h:messages>
			<h:outputLabel class="boldText">Information about all trains registered in the
		system </h:outputLabel>
		</div>
	</div>

	<div class="bottomPanel">
		<div class="leftPanelContains">
			<ui:dataTable value="#{viewTrainsBean.allTrains}" var="train"
				rendered="#{not empty viewTrainsBean.allTrains}">
				<ui:column>
					<f:facet name="header">Route Number</f:facet>
					<h:outputText value="#{train.routeNum}" />
				</ui:column>
				<ui:column>
					<f:facet name="header">Departure Station</f:facet>
					<h:outputText value="#{train.departureStation}" />
				</ui:column>
				<ui:column>
					<f:facet name="header">Arrival Station</f:facet>
					<h:outputText value="#{train.arrivalStation}" />
				</ui:column>
				<ui:column>
					<f:facet name="header">Departure Time</f:facet>
					<h:outputText value="#{train.departureTime}">

					</h:outputText>
				</ui:column>
				<ui:column>
					<f:facet name="header">Arrival Time</f:facet>
					<h:outputText value="#{train.arrivalTime}">
					</h:outputText>
				</ui:column>
			</ui:dataTable>
		</div>
	</div>
</h:body>
</html>

